$paddingPostNormal: 25px;
$paddingPostSmall: 15px;
$settingsWidth: 150px;
$settingsMenuHeight: 100px;
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #313041;
    position: relative;
    width: 100%;
    padding: $paddingPostNormal;
    border-radius: 8px;
    margin-bottom: 20px;
    .confirmDelete {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.63);
        top: 0;
        left: 0;
        border-radius: 8px;
        .btn {
            width: fit-content;
            height: fit-content;
            font-size: 18px;
            padding: 20px 30px;
        }
        .btn1 {
            margin-right: 20px;
        }
    }
    .postSettings {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: $paddingPostNormal;
        right: $paddingPostNormal;
        width: 30px;
        height: 30px;
        img {
            width: 70%;
            height: 70%;
        }
    }
    .postSettings:hover .postSettingsMenu {
        display: flex;
    }
    .postSettingsMenu {
        display: none;
        width: $settingsWidth;
        height: fit-content;
        border-radius: 5px;
        background-color: #454452;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.582);
        position: absolute;
        bottom: -40px;
        right: 0;
        .menuOption {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            img {
                height: 20px;
                width: 20px;
            }
        }
        .menuOption:hover {
            background-color: #585763;
        }
        
    }
    .postInfo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        width: fit-content;
        margin-bottom: 15px;
        cursor: pointer;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 10px;
            cursor: pointer;
            .name {
                font-size: 15px;
                margin-bottom: 2px;
                cursor: pointer;
            }
            .date {
                font-size: 11px;
                cursor: pointer;
            }
        }
    }
    .postContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        .text {
            font-size: 15px;
            width: 100%;
            overflow-wrap: break-word;
        }
        .visual {
            width: 100%;
            margin-top: 10px;
        }
        .postInteractive {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
        .postInteractive * {
            cursor: pointer;
        }
    }
}
@media (max-width: 370px) {
    .wrapper {
        padding: $paddingPostSmall;
        .postSettings {
            top: $paddingPostSmall;
            right: $paddingPostSmall;
        }
        .confirmDelete {
            .btn {
                font-size: 15px;
                padding: 10px 20px;
            }
        }
    }
}
