.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #313041;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    .postInfo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        width: 100%;
        margin-bottom: 15px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 10px;
            .name {
                font-size: 15px;
                margin-bottom: 2px;
            }
            .date {
                font-size: 11px;
            }
        }
    }
    .postContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        .text {
            font-size: 15px;
            width: 100%;
            overflow-wrap: break-word;
        }
        .visual {
            width: 100%;
            margin-top: 10px;
        }
        .postInteractive {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
        .postInteractive * {
            cursor: pointer;
        }
    }
}
@media (max-width: 370px) {
    .wrapper {
        padding: 15px;
    }
}